.nav-menu {
	padding-top: 10px;
	font-size: 30px;


}

.nav-menu ul{
	margin:0;
	padding-left: 0;
	list-style-type: none;


}

.nav-menu .is-current {
	color: #F8F8F9;
	background-color: #374957;
	width: auto;
}

.nav-menu li{
	display: inline-block;
	padding-right:10px;
}

ul a {
	color: #333333;
}

.nav-menu a {
	text-decoration: none;
	padding:5px;
}

.nav-menu a:hover{
	color: #F8F8F9;
	background-color: #374957;
}
