.nav-menu {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	width: 140px;
	text-align: right;
	padding-left: 15px;
}

.nav-menu li {
	border-bottom: 2px dotted #c9af98;
	
}

.nav-menu
.is-current {
	background-color: #7A9D96;
	color: #3a4660;
	width: auto;
}

.nav-menu :hover {
	background-color: #bd8c7d;
	color: #3a4660;
}

.nav-menu a {
	color: #c9af98;
	text-decoration: none;
	display: block;
}