body p{
	font-family: 'Shadows Into Light', cursive;
	color: #00303F
	background-color: #CAE4DB;
	color: #00303F;
	letter-spacing: 2px;
}
h1 {
 background-color: #00303F;
 color: #DCAE1D;
 padding: 20px;
 font-family: 'Shadows Into Light', cursive;
}

img {
	padding: 20px; 
}
.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
	grid-template-columns: 200px 200px 1fr;
}
footer {
	grid-column: 1-3;
}

 a {
	text-decoration: none;
	color: #DCAE1D; 
}

a:visited {
	text-decoration: none;
	color: #CAE4DB;
}

a:hover {
	text-decoration: none;
	color: #00303F;
}
