@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.title{
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding-top: 20px;
}

.profile{
	float:right;
	padding-left: 20px;

}
div.po {
    background-color: pink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-top: 100px;
    margin-right: 40px;
}



div.con {
    text-align: center;
    padding: 10px 20px;

}

h1 a{ 
	color: #111; 
	font-size: 30px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
	text-decoration: none;
}


footer {
	font-size: 20px;
	padding-top:40px;
	padding-bottom: 20px;
	text-align: center;
	overflow: auto;
	clear:right;
}

ul{
	list-style-type: none;
}
footer a{

	text-decoration: none;

}
